/* Cabeçalho */
header {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

header img {
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

h1,
p {
  text-align: center;
}

/* Seção História */
.historia {
  padding: 20px;
  background-color: #fff;
}

/* Seção Aventura */
.aventura {
  padding: 20px;
  background-color: #eaf6f6;
}

.aventura .galeria {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.aventura figure {
  text-align: center;
  flex: 1;
}

.aventura img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Rodapé */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #333;
  color: #fff;
}

footer .social {
  display: flex;
  gap: 10px;
}

footer .social img {
  width: 30px;
  height: 30px;
}

/* centraliza */
.contato-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;

}

.contato-container iframe,
.contato-container .formulario {
  flex: 1;
  min-height: 300px;
  border: 2px solid #ccc;
}

.equipe {
  margin-top: 40px;
  text-align: center;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header,
footer {
  background-color: #f0f0f0;
  color: #333;
  padding: 30px;
  text-align: center;
}

footer {
  display: flex;
  /* organiza em linha */
  justify-content: space-between;
  /* texto à esquerda, nav à direita */
  align-items: center;
  /* centraliza verticalmente */
  padding: 20px;
  border-top: 2px solid #ccc;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;

}

/* Equipe */
.equipe {
  grid-column: 1 / span 2;
  margin-top: 40px;
  text-align: center;
  border: 2px solid #120f0f;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.galeria figure {
  border: 2px solid #eee;
  padding: 10px;
}