*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Seletores de Classe */
.caixa {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
   
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    padding: 20px;
    background-color: #9c9090  ;
}
main {
    max-width: 840px;
}

aside {

    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 00 / 0.2);
    /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;

}



main img {
    margin-left: 30px;
    margin-bottom: 30px;
    border: 1px solid #0000ff;
    width: 150px;
    height: auto;
    float: right;
    padding: 0;
    box-shadow: none;

}
nav {
    background-color: #000;
    color: #eee;
    padding: 0;
    border-bottom:20px #ddd;
    columns: auto;
    margin-bottom: 70px;
    text-align: center;
    border-top: 1px solid #333;
}



p {
    padding: 0;
}

footer {

    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

header,
footer {

    background-color: hwb(233 6% 15%);
    color: #eee;
    margin: 0;

    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
  
}
ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #000;
}

aside h2 {
  position: auto;
  top: 47px;
  left: 150px;
}
h1 {
color: #ddd;    
}

nav h2 {
    color: #f5f5f5;
    padding: 0;
    display: block;
    margin: auto;
    display: contents;

}
ul.caixa{
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    
}